body {
    padding: 0;
    margin: 0;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .8s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

:root {
    --color-light: #f1f1f1;
    --color-dark: #2f2f2f;
    --color-form-light: red;
}

.dark-mode {
    --color-light: #2f2f2f;
    --color-dark: #f1f1f1;
    --color-form-light: rgb(235, 119, 11);
}

